@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f6f7fb;
}

html,
body {
  background-color: var(--bg);
  color: #101828;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
